<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Practice Grouping Data with Pandas

_Authors: Kiefer Katovich (SF), Dave Yerrington (SF), Mario Carrillo (SF)_

---

You are going to investigate UFO sightings around the US.  This lab will give you practice performing `groupby` operations to split data along multiple dimensions and investigate patterns between subsets of the data using basic aggregation.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style('whitegrid')

%matplotlib inline
%config InlineBackend.figure_format ='retina'

#### 1. Load and print the header for the UFO data.

In [2]:
ufo_csv = './datasets/ufo.csv'

In [4]:
ufo = pd.read_csv(ufo_csv)
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

#### 2. How many null values exist per column?

In [4]:
# A:

#### 3. Which city has the most observations?

In [5]:
# A:

#### 4. What is the observation count per shape?

In [6]:
# A:

#### 5. Create a subset of the data that is the top 5 cities and the top 5 shapes.

In [7]:
# A:

#### 6. With the subset, find the percent of each shape seen by city.

In [8]:
# A:

**7. Make a grouped bar chart with your subset data showing counts of shapes seen by city.**

In [9]:
# A: