# Team Adult Education 

---

You are a member of the data science department at a private school. The marketing department has approached us to help write a series of blog posts that can help sell the value proposition of the school.  Secondarily, business development is very interested in developing online products in emerging markets.

**The goals are:**

- Describe the areas of highest value within the dataset.
- Describe characteristics that you believe target value.
- Identify possible markets and demographic characteristics for business development.

**Presentation requirements:**

- At least 50% of presentation must address a non-technical audience. 
- Someone who hasn't presented in class yet must take lead on presentation.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

%matplotlib inline

df = pd.read_csv("./datasets/adult.csv")

In [4]:
df.shape

(48842, 15)

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,small
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,small
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,small
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,small
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,small