<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Practice Using Timeseries Data and Datetime

_Authors: Samuel Stack (DC)_

---

This lab covers the basics of manipulating datetime objects and using datetimes in pandas.

### 1. Create a datetime object representing today's date

In [1]:
from datetime import datetime
from datetime import timedelta

In [11]:
# A:
now = datetime.now()
print now

print now.day, now.month, now.year
print now.weekday()

2017-11-01 10:47:33.610642
1 11 2017
2

### 2. Write a function to print the day of the week for a datetime object.

In [12]:
# A:
def DoW(datetime):
    dictionary = {0:'Monday',1:'Tuesday',2:'Wednesday',3:'Thursday',4:'Friday',5:'Saturday',6:'Sunday'}
    return dictionary[datetime.weekday()]

In [13]:
DoW(datetime.now())

'Wednesday'

### 3. What is the Gregorian ordinal representation of today's date? What is the difference in days between the ordinal representation of today's date and the ordinal representation of your birthday?

> *Hint: `.toordinal()` will get you the ordinal representation. This is calculating the number of days between your birthday and today.

In [16]:
# A:
print datetime.toordinal(now)

birthday = datetime()
print datetime.toordinal()

2017-11-01 10:47:33.610642

736634

### 4. Try using `timedelta` to shift our datetime object by the following intervals:
- 1 hour ahead
- 3 days ago
- 1 year, 3 days, 2 seconds ahead

In [24]:
# A:
offset = timedelta(hours=1)
print now + offset

offset2 = timedelta(days=3)
print now - offset2

offset3 = timedelta(weeks = 52, days = 3, seconds =2)
print now + offset3

2017-11-01 11:47:33.610642
2017-10-29 10:47:33.610642
2018-11-03 10:47:35.610642

### 5. Load one of the stock csvs in the datasets folder.

Which you choose is up to you!

In [25]:
import pandas as pd
from datetime import timedelta
%matplotlib inline

# A:
goog = pd.read_csv('./datasets/goog.csv')

### 6. Take a high-level look at the data. Describe it. What are we looking at? 

Use a plotting function to provide a good visual.

In [27]:
# A:
goog.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2015-12-01,747.109985,775.955017,745.630005,762.369995,2519600,762.369995
1,2015-11-02,711.059998,762.708008,705.849976,742.599976,1795300,742.599976
2,2015-10-01,608.369995,730.000000,599.849976,710.809998,2337100,710.809998
3,2015-09-01,602.359985,650.900024,589.380005,608.419983,2398400,608.419983
4,2015-08-03,625.340027,674.900024,565.049988,618.250000,2661600,618.250000

In [28]:
# A:
goog.describe()

,Open,High,Low,Close,Volume,Adj Close
count,22.000000,22.000000,22.000000,22.000000,2.200000e+01,22.000000
mean,575.890686,609.268155,552.366753,584.801935,2.019245e+06,584.801935
std,56.597440,71.429837,64.162213,69.206444,6.682940e+05,69.206444
min,524.729980,541.412415,487.562195,520.510010,2.530000e+04,520.510010
25%,538.548111,565.495086,516.023072,538.463135,1.685675e+06,538.463135
50%,560.617554,581.727631,534.417419,559.487549,1.856900e+06,559.487549
75%,577.745132,639.383209,565.040634,600.655640,2.387900e+06,600.655640
max,747.109985,775.955017,745.630005,762.369995,3.290800e+06,762.369995

### 7. Examine the Date column. Make it the index of the DataFrame.

Making the index a datetime allows us to easily order the data by time. Doing this will result in 6 Series objects indexed by DateTime- literal Time Series!

In [29]:
# A:
goog.Date = pd.to_datetime(goog.Date)

In [30]:
goog.set_index('Date',drop = True, inplace = True)

In [31]:
goog.head()

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2015-12-01,747.109985,775.955017,745.630005,762.369995,2519600,762.369995
2015-11-02,711.059998,762.708008,705.849976,742.599976,1795300,742.599976
2015-10-01,608.369995,730.000000,599.849976,710.809998,2337100,710.809998
2015-09-01,602.359985,650.900024,589.380005,608.419983,2398400,608.419983
2015-08-03,625.340027,674.900024,565.049988,618.250000,2661600,618.250000

### 8. Add columns with useful data extracted from the DateTime index.

Make at least three columns, one for day, month, and year.

In [41]:
# A:

### 9. Create a subset of the data containing only 2017 dates.

In [42]:
# A:

### 10. [Example] Date ranges and frequencies.

Explore the following built-in methods:
- What does `asfreq` do?
> - _Convert TimeSeries to specified frequency._

- What does `resample` do?
> - _Convenience method for frequency conversion and resampling of time series. Object must have a datetime-like index (DatetimeIndex, PeriodIndex, or TimedeltaIndex), or pass datetime-like values to the on or level keyword._

We can also create our own date ranges using a built in function, `date_range`. The `periods` and `freq` keyword arguments grant the user finegrained control over the resulting values. To reset the time data, use the `normalize=True` directive.

In [29]:
index = pd.date_range('3/1/2016', '6/1/2016')

# Specifify a start point and how many periods after
pd.date_range(start='3/1/2016', periods=20)

#Specify a end point and how many periods before
pd.date_range(end='6/1/2016', periods=20)

# Frequency specifyins the length of the periods the default 'D' being daily.  I imagine BM is Bi-Monthly
pd.date_range('1/1/2016', '12/1/2016', freq='BM')

pd.date_range('3/7/2016 12:56:31', periods=6)
# normalize creates normal daily times, and will make the default time for each day midnight.
pd.date_range('3/7/2012 12:56:31', periods=6, normalize=True)

DatetimeIndex(['2012-03-07', '2012-03-08', '2012-03-09', '2012-03-10',
               '2012-03-11', '2012-03-12'],
              dtype='datetime64[ns]', freq='D')

We are also given a Period object, which can be used to represent a time interval. The Period object consists of a start time and an end time, and can be created by providing a start time and a given frequency.

In [30]:
# March 2016 was our start period, and the period frequency is months.
march_2016 = pd.Period('2016-03', freq='M')

print march_2016.start_time
print march_2016.end_time

2016-03-01 00:00:00
2016-03-31 23:59:59.999999999