# Lists

In [1]:
food = ['rice','noodles', 'bread', 'steak']
print food

['rice', 'noodles', 'bread', 'steak']

In [2]:
print len(food)

4

In [3]:
print food[0] #index, starts at 0

rice

In [4]:
print food[-1] #last item in the list

steak

In [5]:
#food[4] #item does not exist

In [6]:
print food[0:2]

['rice', 'noodles']

In [7]:
print food[:2] #slicing

['rice', 'noodles']

In [8]:
print food[2:] #Slicing

['bread', 'steak']

In [9]:
food.append('banana')
print food

['rice', 'noodles', 'bread', 'steak', 'banana']

In [10]:
food.insert(0,'apple') 
print food
#takes 2 arguments: 
#location and value to insert

['apple', 'rice', 'noodles', 'bread', 'steak', 'banana']

In [11]:
more_food = ['mee siam', 'mee soto']
food.insert(0,more_food)
print food

[['mee siam', 'mee soto'], 'apple', 'rice', 'noodles', 'bread', 'steak', 'banana']

In [12]:
print food[0]

['mee siam', 'mee soto']

In [13]:
food = ['rice','noodles', 'bread', 'steak']
food.append(more_food)
print food

['rice', 'noodles', 'bread', 'steak', ['mee siam', 'mee soto']]

In [14]:
food = ['rice','noodles', 'bread', 'steak']
food.extend(more_food)
print food

['rice', 'noodles', 'bread', 'steak', 'mee siam', 'mee soto']

In [15]:
food.remove('steak')
print food

['rice', 'noodles', 'bread', 'mee siam', 'mee soto']

In [16]:
food = ['rice','noodles', 'bread', 'steak']
food.pop() #by default, removes the final item
print food

['rice', 'noodles', 'bread']

In [17]:
food = ['rice','noodles', 'bread', 'steak']
popped = food.pop()
print popped

steak

In [18]:
food = ['rice','noodles', 'bread', 'steak']
print food.reverse() #food[::-1]

#reverse modifies the list in place and returns None.

None

In [19]:
#print the list and you will see your list has been modified.
print food

['steak', 'bread', 'noodles', 'rice']

In [20]:
print food.sort()

None

In [21]:
print food

['bread', 'noodles', 'rice', 'steak']

In [22]:
list_numbers = [5,9,10,1,6]
list_numbers2 = [-10,-7,-8,11,4]

list_numbers.sort()
print list_numbers #numbers in ascending order

[1, 5, 6, 9, 10]

In [23]:
list_numbers.reverse()
print list_numbers

[10, 9, 6, 5, 1]

In [24]:
list_numbers.sort(reverse=True)
food.sort(reverse=True)
print food
print list_numbers

['steak', 'rice', 'noodles', 'bread']
[10, 9, 6, 5, 1]

In [25]:
#sorted() does not sort in-place, it returns a sorted list.
#sorted() does not alter original list.
sorted_food = sorted(food)
print sorted_food

['bread', 'noodles', 'rice', 'steak']

In [26]:
sorted_numbers = sorted(list_numbers)
print sorted_numbers

[1, 5, 6, 9, 10]

In [27]:
sorted_numbers2 = sorted(list_numbers2)
print sorted_numbers2

[-10, -8, -7, 4, 11]

In [28]:
sorted_numbers2_absolute = sorted(list_numbers2, key=abs)
print sorted_numbers2_absolute

[4, -7, -8, -10, 11]

In [29]:
print min(list_numbers)
print max(list_numbers)
print sum(list_numbers)

1
10
31

In [30]:
print food.index('noodles')

2

In [31]:
# print food.index('burger')
# ValueError: 'burger' is not in list

In [32]:
'burger' in food

False

In [33]:
'rice' in food

True

In [34]:
for food_name in food:
    print food_name

steak
rice
noodles
bread

In [35]:
for index,food_name in enumerate(food):
    print food_name, index

steak 0
rice 1
noodles 2
bread 3

In [36]:
for index,food_name in enumerate(food, start=1):
    print food_name, index

steak 1
rice 2
noodles 3
bread 4

In [37]:
food_string = ' | '.join(food)
print food_string

steak | rice | noodles | bread

In [38]:
new_food_list = food_string.split(' | ')
#splits string into a list

print new_food_list
type(new_food_list)

['steak', 'rice', 'noodles', 'bread']

list

In [39]:
#these are lists
food = ['rice','noodles', 'bread', 'steak']
food2 = food

print food
print food2

['rice', 'noodles', 'bread', 'steak']
['rice', 'noodles', 'bread', 'steak']

In [40]:
food2[0]='veg' #lists are mutable
# Does a change in food2 lead to change in food?

print food #this list changed
print food2 #this list changed
#both are the same mutable object

['veg', 'noodles', 'bread', 'steak']
['veg', 'noodles', 'bread', 'steak']

# Tuples

In [41]:
food_tuple1 = ('rice','noodles', 'bread', 'steak')
food_tuple2 = food_tuple1

print food_tuple1
print food_tuple2

('rice', 'noodles', 'bread', 'steak')
('rice', 'noodles', 'bread', 'steak')

In [42]:
# food_tuple2[0]='veg' #immutable
# 'tuple' object does not support item assignment

In [43]:
# food_tuple1.sort()
# type object 'tuple' has no attribute 'sort'

# food_tuple1.insert()
# type object 'tuple' has no attribute 'insert'

#food_tuple1.reverse()
#'tuple' object has no attribute 'reverse'

In [44]:
sorted_tuple1 = sorted(food_tuple1)
print sorted_tuple1

['bread', 'noodles', 'rice', 'steak']

# Sets
Sets are unordered and have no duplicates.

In [45]:
food_set = {'rice','noodles', 'bread', 'steak'}
print food_set #not in the order we added

set(['rice', 'steak', 'noodles', 'bread'])

In [46]:
food_set = {'rice','rice','noodles','noodles', 'bread', 'steak'}
print food_set #no duplicates

set(['rice', 'steak', 'noodles', 'bread'])

In [47]:
'rice' in food_set #check item membership

True

In [48]:
food_set = {'rice','noodles', 'bread', 'steak'}
favourites_set = {'chicken','burger', 'fries', 'bread', 'steak'}

print food_set.intersection(favourites_set)

set(['steak', 'bread'])

In [49]:
print food_set.difference(favourites_set)

set(['rice', 'noodles'])

In [50]:
print food_set.union(favourites_set)

set(['rice', 'fries', 'burger', 'noodles', 'chicken', 'steak', 'bread'])

In [51]:
# Empty lists
empty_list = []
#empty_list = list[] #WRONG syntax
empty_list = list()

# Empty Tuples
empty_tuple = ()
empty_tuple = tuple()

# Empty Sets
# empty_set = {} #this is WRONG! It's dictionary
# empty_set = set{} #WRONG syntax
empty_set = set()

# Empty Dictionary
empty_dict = {}
type(empty_dict)

dict

# Dictionary
Key-value pairs

In [52]:
employee = {'name':'Paul', 'dept': 'HR', 'projects':['onboarding','recruitment'],'age':30}

print employee # not in order

{'dept': 'HR', 'age': 30, 'name': 'Paul', 'projects': ['onboarding', 'recruitment']}

In [53]:
print employee['name']
print employee['projects']

Paul
['onboarding', 'recruitment']

In [54]:
employee2 = {987:'Paul'}
print employee2[987]

Paul

In [55]:
# print employee['phone'] 
#KeyError, doesn't exist

In [56]:
print employee.get('phone') # Doesn't exist
print employee.get('name')

None
Paul

In [57]:
employee['phone'] = '81234567'
print employee

{'dept': 'HR', 'age': 30, 'name': 'Paul', 'projects': ['onboarding', 'recruitment'], 'phone': '81234567'}

In [58]:
employee['age']=31 
#updates the value of this key

print employee

{'dept': 'HR', 'age': 31, 'name': 'Paul', 'projects': ['onboarding', 'recruitment'], 'phone': '81234567'}

In [59]:
employee.update({'name':'Paul Smith','status':'married'})

print employee
# changed name, added marriage status

{'status': 'married', 'dept': 'HR', 'name': 'Paul Smith', 'phone': '81234567', 'age': 31, 'projects': ['onboarding', 'recruitment']}

In [60]:
del employee['status'] #delete key-value pair
print employee

{'dept': 'HR', 'name': 'Paul Smith', 'phone': '81234567', 'age': 31, 'projects': ['onboarding', 'recruitment']}

In [61]:
dept = employee.pop('dept')
print dept

HR

In [62]:
print employee

{'name': 'Paul Smith', 'phone': '81234567', 'age': 31, 'projects': ['onboarding', 'recruitment']}

In [63]:
print len(employee)

4

In [64]:
print employee.keys()

['name', 'phone', 'age', 'projects']

In [65]:
print employee.values()

['Paul Smith', '81234567', 31, ['onboarding', 'recruitment']]

In [66]:
print employee.items()

[('name', 'Paul Smith'), ('phone', '81234567'), ('age', 31), ('projects', ['onboarding', 'recruitment'])]

In [67]:
for key in employee:
    print key

name
phone
age
projects

In [68]:
for key,value in employee.items():
    print key,value

name Paul Smith
phone 81234567
age 31
projects ['onboarding', 'recruitment']

In [69]:
sorted_dict1 = sorted(employee)
print sorted_dict1

['age', 'name', 'phone', 'projects']

In [70]:
sorted_dict2 = sorted(employee.items())
print sorted_dict2

[('age', 31), ('name', 'Paul Smith'), ('phone', '81234567'), ('projects', ['onboarding', 'recruitment'])]