# Team Popcorn

---

You're a force to be reckoned with. You are team "Popcorn". Working for a big movie studio, you need to report on metrics that will help: **A)** sell movie ideas to potential investors, and **B)** maximize product placement and / or sponsorships.

**Your studios lead data scientist has given you some direction / starting points:**
 - Which movies remained in the top 10 the longest?
 - Which movies were good investments?
 - Are there any interesting trends throughout the year?
 - Google anything interesting about flagship movies in terms of partnerships and how those deals could be relevant to consider in our own research.
 
**Bonus:**
 - Do any holidays impact sales performance or position?  How could we leverage this?
 - What could we look at outside our dataset that may help project good investments?


#### End with some kind of recommendation for new partnership engagements, tied to your opening goals / metrics.

How reliable can your reocmmendation(s) be?  Back up your assumptions with facts and data.

_[There's a data dictionary available!](http://www.amstat.org/publications/jse/v17n1/datasets.mclaren.html)_

Keep in mind the main points when presenting your findings!  It's interesting to share details and sidepoints, but make sure they're supporting and relating to pitching movies to investment, and helping maximize our partnership goals.

In [1]:
import pandas as pd
import numpy as np

movies = pd.read_csv("./datasets/movie_weekend.csv")

In [7]:
movies.head(10)

   NUMBER             MOVIE  WEEK_NUM  WEEKEND_PER_THEATER WEEKEND_DATE
0     1.0  A Beautiful Mind       1.0                701.0     12/21/01
1     1.0  A Beautiful Mind       2.0              14820.0     12/28/01
2     1.0  A Beautiful Mind       3.0               8940.0       1/4/02
3     1.0  A Beautiful Mind       4.0               6850.0      1/11/02
4     1.0  A Beautiful Mind       5.0               5280.0      1/18/02
5     1.0  A Beautiful Mind       6.0               5155.0      1/25/02
6     1.0  A Beautiful Mind       7.0               3735.0       2/1/02
7     1.0  A Beautiful Mind       8.0               2840.0       2/8/02
8     1.0  A Beautiful Mind       9.0               3890.0      2/15/02
9     1.0  A Beautiful Mind      10.0               2565.0      2/22/02

In [3]:
movies.dtypes

NUMBER                 float64
MOVIE                   object
WEEK_NUM               float64
WEEKEND_PER_THEATER    float64
WEEKEND_DATE            object
dtype: object